/.lake
.lake
/.vscode
.vscode
/.toml
.toml
/.txt
.txt
/.json
.json
lake-manifest.json
/lake-manifest.json
fwIn.txt
fwOut.txt
wdErr.txt
wdOut.txt
wdIn.txt
/.git
.git
/.github
.github
/.idea
.idea
/lean-toolchain
lean-toolchain
/.lake-leanpkg
.lake-leanpkg